@model List<Men>
@{

}

<h2 class ="text-center mb-5"> List of Men's </h2>



<div class="row mb-5">

     <div class="col">
     
         <a class="btn btn-primary" asp-controller="Mens" asp-action="Create">New Men</a>
     
     </div>

     <div class="col">

     </div>

</div>




<table class="table">

<thead>
     <tr>

     <th>Men_Id</th>
     <th>Men_FullName</th>
  

     </tr>

</thead>

<tbody>

    @foreach (var men in Model)
        {
            
            <td>@men.Men_Id</td>
            <td>@men.Men_FullName</td>

             <td style = "white-space:nowrap">

                 
              <a class="btn btn-primary btn-sm" asp-controller="Mens" asp-action="Edit" asp-route-id="@men.Men_Id">Edit</a>

              <a class="btn btn-danger btn-sm" asp-controller="Mens" asp-action="Delete" asp-route-id="@men.Men_Id">Delete</a>

             </td>
            
        }

</tbody>

</table>
